<h1>Editing Book</h1>
<%= form_for(@book) do |f| %>
<!-- URLをルートパスにしたい できそう-->
    <h4>タイトル</h4>
    <%= f.text_field :title %>
    <h4>本文</h4>
    <%= f.text_area :body %>
    <%= f.submit 'Update Book' %>    
<% end %>