<h1>ここはbookの一覧ページです</h1>

<h2>Books</h2>
<!-- ここに登録者一覧を書き出したい -->
<% @books.each do |f| %>
  <%= attachment_image_tag f.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <!-- .userは、「モデル名（小文字）でデータを参照できる,：データを指定」-->
  <%= f.title %>
  <%= f.body %><br>
<% end %>

<!-- プロフィール画像も -->

